<!-- Header -->
<header class="header" id="header">
    <nav class="nav container">
        <a href="index.html" class="nav__logo">
            <img src="logo_esig.png" alt="ESIG Logo" class="logo-img">
        </a>
        
        <div class="nav__menu" id="nav-menu">
            <ul class="nav__list">
                <li class="nav__item">
                    <a href="index.html" class="nav__link" data-page="index">Accueil</a>
                </li>
                <li class="nav__item">
                    <a href="apropos.html" class="nav__link" data-page="apropos">À Propos</a>
                </li>
                <li class="nav__item">
                    <a href="formations.html" class="nav__link" data-page="formations">Formations</a>
                </li>
                <li class="nav__item">
                    <a href="vie-esig.html" class="nav__link" data-page="vie-esig">Vie à l'ESIG</a>
                </li>
                <li class="nav__item">
                    <a href="actualites.html" class="nav__link" data-page="actualites">Actualités</a>
                </li>
                <li class="nav__item">
                    <a href="inscriptions.html" class="nav__link" data-page="inscriptions">Inscriptions</a>
                </li>
                <li class="nav__item">
                    <a href="contact.html" class="nav__link" data-page="contact">Contact</a>
                </li>
            </ul>
            
            <div class="nav__close" id="nav-close">
                <i class="fas fa-times"></i>
            </div>
        </div>
        
        <div class="nav__toggle" id="nav-toggle">
            <i class="fas fa-bars"></i>
        </div>
    </nav>
</header>
